* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container {
    margin: 5px;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    border-radius: 10px;
    border: 1.5px solid #000;
}

.title {
    background: lightgreen;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title__icon {
    width: 25px;
    margin-right: 10px;
}

.title__text {
    font-size: 1.5rem;
}

.info {
    background: lightcoral;
    padding: 0 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__nombre {
    background: #fff;
    font-size: 2.4rem;
    text-align: center;
    border-radius: 5px;
    padding: 4px;
    transform: translateY(-12px);
}

.info__imagen {
    width: 80%;
    transform: translateY(25px);
    transition: tranform .5s ease-in;
}

.info__imagen img {
    width: 100%;
    border-radius: 35%;
}

.info__stats {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: lightblue;
    min-width: 260px;
    width: 100%;
    font-size: 1.8rem;
}

.info__stats-item {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.info__stats-item li {
    width: 30%;
    margin: 8px 15px;
}

.options {
    background: lawngreen;
    font-size: 1.6rem;
    padding: 10px 25px;
    text-align: center;
}

.options_title {
    display: block;
}

.options__btn {
    display: inline-block;
    height: 60px;
    width: 25%;
    margin: 5px 15px;
}