* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Handlee', sans-serif;
}

.container {
    margin: 5px;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    border-radius: 10px;
    border: 1.5px solid #000;
    background: rgb(247, 247, 235);
}

.title {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(99, 131, 219);
    color: #fff;
}

.title__icon {
    width: 25px;
    margin-right: 10px;
}

.title__text {
    font-size: 1.5rem;
}

.info {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__nombre {
    transform: translateY(-30px);
    font-size: 2.4rem;
    text-align: center;
    border-radius: 5px;
    padding: 4px;
    background: rgba(0, 127, 134, 0.5);
    color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.info__imagen {
    width: 90%;
    transform: translateY(25%);
    transition: tranform .5s ease-in;
}

.info__imagen img {
    width: 100%;
    border-radius: 35%;
}

.info__stats {
    padding: 10px;
    padding-top: 20%;
    margin: 10px 0;
    border-radius: 10px;
    background: rgba(230, 189, 143, 0.719);
    min-width: 260px;
    width: 100%;
    font-size: 1.6rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

.info__stats-item {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 10%;
}

.info__stats-item li:nth-child(1) {
    font-weight: 100;
}

.info__stats-item li {
    width: 30%;
    margin: 8px 15px;
}

.options {
    font-size: 1.6rem;
    padding: 10px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(99, 131, 219);
    color: #fff;
}

.options__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.options__title {
    font-size: 2.6rem;
    width: 100%;
    text-align: center;
}

.options__btn {
    margin: 10px 25px;
    width: 25%;
    height: 80px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 10px;
}

.options__btn:hover {
    transform: scale(1.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.options__btn img {
    width: 70%;
}